@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  /*background: linear-gradient(79.39deg, #3a3e47 1.29%, #96a1a8 95.52%);*/
  background: #fff;
}
